# Docker Compose dev defaults (copy to .env to customize)
POSTGRES_DB=mirumiru
POSTGRES_USER=monikhyun
POSTGRES_PASSWORD=miru
POSTGRES_SCHEMA=public
JWT_SECRET=o99Rv7wh67IKXLrmu2E8N8JgZqoIrouYsr7INeLsdanDWvy65l510MgI824fyensnGLsSJ7yVBntVB9AbcW10g==
